.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.header-box {
  display: flex;
  width: 1440px;
  height: 72px;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.head-li {
  display: inline-block;
  line-height: 1.17;
}

.address-li {
  display: inline-block;
}

.header {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 156px;
  text-decoration: none;
}
.header-part {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}

.link-first {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-left: 76px;
}
.link-second {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-left: 40px;
}
.link-third {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-left: 40px;
}

.contact-mail {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 190px;
}

.contact-number {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-right: 156px;
}

.content-head {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.content-header {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  width: 456px;
  text-align: center;
  padding-top: 188px;
  margin-top: 0;
  margin-left: 472px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  box-shadow: 0, 4, 4 rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  background-color: #4d5ae5;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-left: 636px;
  margin-bottom: 188px;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus{
  background-color: #404BBF;
}

.hidden {
  display: none;
  line-height: 1.11;
}

.content-features {
  width: 1440px;
  padding-left: 156px;
  padding-top: 120px;
  padding-right: 156px;
  padding-bottom: 120px;
}
.ul {
  padding-left: 0;
}

.section-two-list {
  list-style: none;
  display: inline-block;
  margin-right: 24px;
}

.section-two-list-header {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  box-sizing: border-box;
  padding-left: 0;
  margin-top: 0;
}

.section-two-list-paragraph {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  height: 72px;
}

.our-team {
  width: 1440px;
  height: 732px;
  background: #f4f4fd;
}
.our-team-head {
  box-sizing: border-box;
  text-align: center;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  line-height: 1.11;
}

.our-team-ul {
  text-align: center;
}

.our-team-li {
  display: inline-block;
  margin-right: 24px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 32px;
}

.our-team-li-head {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 32px;
}
.our-team-li-paragraph {
  color: #434455;
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  padding-top: 102px;
}

.footer-head {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  margin-left: 156px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.17;
}

.footer-part {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
  box-sizing: border-box;
  line-height: 1.17;
}

.footer-paragraph {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
}
